/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wpcf7 .wpcf7-form
{
	padding: 20px;
}
.wpcf7 *:focus
{
	outline:none;
}
.wpcf7 .screen-reader-response
{
	display: none;
}
.wpcf7 .wpcf7-response-output
{
	padding: 20px;
	text-align: center;
	clear: both;
	display: block;
}

.wpcf7 .wpcf7-not-valid, .wpcf7 .wpcf7-validation-errors, .invalid_field
{
	background-color: #c45252 !important;
	color: #fff !important;	
}

.wpcf7 .wpcf7-not-valid::placeholder, .wpcf7 .wpcf7-validation-errors::placeholder, .wpcf7 .invalid_field::placeholder
{
	color: #eee;
}
.wpcf7 .wpcf7-mail-sent-ok
{
	background-color: #53bc53;
	color: #fff;
}
.wpcf7 .pure-g > .pure-u-1 
{
	margin-bottom: 20px;
}
.wpcf7 label
{
	display: block;
}
.wpcf7 .wpcf7-not-valid-tip
{
	display: none;
}
.modal-container
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 120px 20px 20px 20px;
	z-index: 9999;
	background-color: rgba(0,0,0,0.7);
}
.modal-content
{
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
}
.modal-close
{
	font-size: 2.5em;
}